<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>TheDocs - Minimal layout 2</title>

  <!-- Styles -->
    <link href="../assets/css/page.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
  <link rel="icon" href="../assets/img/favicon.png">
</head>

<body>

  <!-- Header -->
  <header class="header text-center py-9" style="background-color: #f1f6fa">
    <div class="container-sm">
      <h1>Bootstrap</h1>
      <p class="lead">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
      <br>
      <div>
        <a class="btn btn-sm btn-info mr-3" href="#">Download</a>
        <a class="btn btn-sm btn-dark" href="#">Contribute</a>
      </div>
    </div>
  </header><!-- /.navbar -->


    <!-- Main Content -->
    <main class="main-content">
      <div class="container-sm">

        <section class="section-collapsable show">
          <h2 class="section-title">Introduction</h2>
          <div class="section-content">
            <p class="lead">Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>
          </div>
        </section>


        <section class="section-collapsable">
          <h2 class="section-title">Installation</h2>
          <div class="section-content">
            <p>Include Bootstrap's source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don't include documentation, but do include our build system and readme.</p>
            <pre>npm install bootstrap</pre>
            <pre>gem install bootstrap -v 4.1.0</pre>
          </div>
        </section>


        <section class="section-collapsable">
          <h2 class="section-title">BootstrapCDN</h2>
          <div class="section-content">
            <p><p>When you only need to include Bootstrap's compiled CSS or JS, you can use <a href="#">BootstrapCDN</a>.</p></p>

            <h6><strong>CSS only</strong></h6>
            <pre class="language-markup no-toolbar"><code>&lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"></code></pre>

            <h6><strong>JS, Popper.js, and jQuery</strong></h6>
<pre class="language-markup no-toolbar"><code>&lt;script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">&lt;/script>
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">&lt;/script>
&lt;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">&lt;/script>
</code></pre>
          </div>
        </section>


        <section class="section-collapsable">
          <h2 class="section-title">Supported browsers</h2>
          <div class="section-content">
            <p>Bootstrap supports the <strong>latest, stable releases</strong> of all major browsers and platforms. On Windows, <strong>we support Internet Explorer 10-11 / Microsoft Edge</strong>.</p>
            <p>Alternative browsers which use the latest version of WebKit, Blink, or Gecko, whether directly or via the platform’s web view API, are not explicitly supported. However, Bootstrap should (in most cases) display and function correctly in these browsers as well. More specific support information is provided below.</p>
          </div>
        </section>


        <section class="section-collapsable bb-0">
          <h2 class="section-title">Community</h2>
          <div class="section-content">
            <p>Stay up to date on the development of Bootstrap and reach out to the community with these helpful resources.</p>
            <ul>
              <li>Follow <a href="https://twitter.com/getbootstrap">@getbootstrap on Twitter</a>.</li>
              <li>Read and subscribe to <a href="https://blog.getbootstrap.com">The Official Bootstrap Blog</a>.</li>
              <li>Join <a href="https://bootstrap-slack.herokuapp.com">the official Slack room</a>.</li>
              <li>Chat with fellow Bootstrappers in IRC. On the <code class="highlighter-rouge">irc.freenode.net</code> server, in the <code class="highlighter-rouge">##bootstrap</code> channel.</li>
              <li>Implementation help may be found at Stack Overflow (tagged <a href="https://stackoverflow.com/questions/tagged/bootstrap-4"><code class="highlighter-rouge">bootstrap-4</code></a>).</li>
              <li>Developers should use the keyword <code class="highlighter-rouge">bootstrap</code> on packages which modify or add to the functionality of Bootstrap when distributing through <a href="https://www.npmjs.com/browse/keyword/bootstrap">npm</a> or similar delivery mechanisms for maximum discoverability.</li>
            </ul>
            <p>You can also follow <a href="https://twitter.com/getbootstrap">@getbootstrap on Twitter</a> for the latest gossip and awesome music videos.</p>
          </div>
        </section>

      </div>
    </main><!-- /.main-content -->


    <!-- Footer -->
    <footer class="footer bg-gray">
      <div class="container-sm">
        <div class="row gap-y align-items-center">

          <div class="col-md-9">
            <div class="nav nav-trim justify-content-center justify-content-md-start">
              <a class="nav-link" href="#">GitHub</a>
              <a class="nav-link" href="#">Twitter</a>
              <a class="nav-link" href="#">Examples</a>
              <a class="nav-link" href="#">About</a>
            </div>
          </div>

          <div class="col-md-3 text-center text-md-right">
            <a href="#">© TheThemeio</a>
          </div>
        </div>
      </div>
    </footer><!-- /.footer -->


  <!-- Scripts -->
    <script src="../assets/js/page.min.js"></script>
    <script src="../assets/js/script.js"></script>

</body>
</html>
